.input{
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;

    &_source{
        height:2.5rem;
    }

    &_destination{
        height:2.5rem;
    }

    &_button{
        margin-top: 3rem;
        margin-bottom: 3rem;
        width:15rem;
        font-size:3rem;
    }
}

